.left {
float: left;
width: 30%;

}
.right{
}
.rsimg{
width: 100px;

}
.nav_items{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    font-size: larger;
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}